<table class="table" style="border: 1px solid #e0e0e0; border-radius: 10px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
    <thead style="background-color: #007bff; color: white; border-radius: 10px 10px 0 0;">
        <tr>
            <th>#</th>
            <th>Drug Name</th>
            <th>Company Name</th>
            <th>Image</th>
            <th>Details</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Drug drug in ViewBag.Drugs)
        {
                <tr style="border-bottom: 1px solid #e0e0e0;">
                    <th scope="row">@drug.Id</th>
                    <td>@drug.Name</td>
                    <td>@drug.CompanyName</td>
                    <td><img src="@drug.ImagePath" height="100" style="padding: 2px; border-radius: 5px;" /></td>
                    <td><a href="/Drug/GetDetails/@drug.Id" class="btn btn-primary">Details</a></td>
                    <td><a href="/Drug/EditDrug/@drug.Id" class="btn btn-secondary">Edit</a></td>
                    <td><button class="btn btn-danger btn-delete" id="@drug.Id">Delete</button></td>
                </tr>
        }
    </tbody>
</table>
<a href="/Drug/AddDrug" class="btn btn-success btn-lg mt-3">Add New Drug</a>

@*Delete Modal*@
<div class="modal fade" tabindex="-1" aria-labelledby="modal-delete" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Drug</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete drug <strong class="drug-id"></strong> from the database?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-cancel" data-bs-dismiss="modal">Cancel</button>
                <a id="delete-link" href="" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div